body {
  font-family: 'Playfair Display', serif;
  position: relative;
}

header {
  background-color: rgba(211, 211, 211, 0.5);
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

form input[type="submit"] {
  display: block;
  width: 100px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

main {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: rgba(211, 211, 211, 0.5);
  color: black;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}

.photo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.photo-frame main {
    max-width: 100%
}

.photo-frame img {
  max-width: 70%;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px 0px #ccc;
  font-size: 16px;
}

button {
  background-color: rgba(211, 211, 211, 0.5);
  color: black;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

button:hover {
  background-color: rgba(211, 211, 211, 0.9);
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button[type="submit"] {
  background-color: rgba(211, 211, 211, 0.5);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

button[type="submit"]:hover {
  background-color: rgba(211, 211, 211, 0.9);
}
